html, body {
    width: 320px;
    height: fit-content;
    background-color: #bef1ed;
}
.hidden{
    display: none;
}
.head{
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    padding: 0 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #525252;
    margin-left: 20px;
}
.head img{
    height: 45px;
    width: 45px;
}
#mainPage .roomIdContainer h3{
    padding: 0 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: black;
}
#mainPage h1{
    margin: 0px 0px 0px 10px;
}
#mainPage .head img {
    width: 32px;
    height: 32px;
}
#mainPage .roomIdContainer {
    display: flex;
    align-items: center;
}
#mainPage .roomIdContainer img {
    width: 15px;
    height: 15px;
    margin-bottom: 2px;
}
#mainPage .roomIdContainer img:hover {
    cursor: pointer;
}
#mainPage .users {
    margin-left: 10px;
    margin-right: 30px;
    margin-bottom: 10px;
}
#mainPage .userElem{
    padding: 4px;
    background-color: #f1a2a2;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
#mainPage .users h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: black;
    margin: 0px 0px 5px 0px;
}
#roomId {
    color: #525252
}
.name, .roomName{
    color: white;
}
.header_divider_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_divider{
    height: 5px;
    width: 80px;
}
.red{
    background-color: red;
}
.orange{
    background-color: orange;
}
.blue{
    background-color: #63c1e6;
}
.greenButton{
    background-color: #63b931;
}
.orangeButton{
    background-color: #d0af25;
}
.addItemContainer input{
    width: 300px;
    height: 30px;
    text-align: center;
    font-size: 15px;
    border: none;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
}
#roomInput {
    margin-top: 25px;
}
.error {
    color: red;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 2px 0px 2px 0px;
}
.styledButton{
    margin-top: 1px;
    width: 304px;
    height: 30px;
    border: none;
    border-radius: 3px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 17px;
    transition: background-color 1s;
}
#newRoomBtn {
    margin-top: 20px;
}
#newRoomBtn:hover{
    background-color: green;
    cursor: pointer;
}
#joinRoomBtn:hover{
    background-color: #ad911f;
    cursor: pointer;
}
#backBtn:hover{
    background-color: #4888a1;
    cursor: pointer;
}